.main {
  margin-top: 10em;
}

.main .header {
  text-align: center;
}

.connect {
  display: flex;
  background-color: #e3e3e3;
}

.bold {
  font-weight: 700;
}

.mm-logo {
  height: 100%;
}

.centered {
  display: flex;
  justify-content: center;
}

.card {
  padding: 1em;
  border: 1px solid #e3e3e3;
  margin-bottom: 1.5em;
  border-radius: 5px;
  background-color: #606060;
  font-size: 1.1em;
}

.rollover-form {
  background-color: #c3c3c3;
  color: #333333;
  border-radius: 10px;
  border: 1px solid black;
  padding: 1em;
}

.rollover-form .six.columns {
  text-align: right;
}

.reset-button {
  border: 1px solid #333333;
}

.loan.card p {
  margin-bottom: 0.5em;
}

.loan.card ul {
  list-style-type: none;
}

.collateral.list {
  font-style: italic;
}

.collateral.list li {
  margin-bottom: 0.25rem;
  padding-left: 1em;
}

.toggle {
  cursor: pointer;
}

.button-container button {
  width: 100%;
}

.total-interest-row {
  font-size: 0.9em;
  margin-top: -1em;
  margin-bottom: 1em;
}

.rollover-form input {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
  text-align: right;
  margin-bottom: 0;
  padding-right: 0;
}

.rollover-form .four.columns label {
  position: relative;
  top: 0.4em;
}

.rollover-form .two.columns strong {
  position: relative;
  top: 0.4em;
  left: -1em;
}

.rollover-form .input-row {
  margin-top: 2.5em;
}